* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.button {
  display: inline-block;

  padding: 15px 47px;
  background: #00AFDB;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;

  &:hover {
    background: #009CC2;
    cursor: pointer;
  }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

//HEADER
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;
  height: 100vh;
  width: 100%;

  background-image: url("./../img/header-start.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  color: #ffffff;
}

.logo {
  height: 44px;
  width: 44px;
  cursor: pointer;
}

.header_logo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.nav {
  margin: 40px auto 0;
  max-width: 600px;

  &_list {
    & > * + * {
      padding-left: 85px;
    }

  }

  &_link {
    display: inline-block;
    list-style: none;

    &:nth-child(3) {
      padding-left: 245px;
    }

    a {
      text-decoration: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      color: #ffffff;

      opacity: 0.8;
    }

    &--active {
      border-bottom: 1px solid #FFFFFF;;

      a {
        font-weight: 500;
        opacity: 1;
      }
    }
  }

}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 730px;
  text-align: center;

}

.header-title {
  padding-bottom: 20px;

  font-weight: 700;
  font-size: 64px;
  line-height: 1.17;
  letter-spacing: 4.0px;
  text-transform: uppercase;
  text-align: center;
}

.header-subtitle {
  display: block;
  padding: 0 115px 30px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
}

.header_icons-row {
  display: flex;
  align-items: center;

  margin-bottom: 90px;

  & > * + * {
    margin-left: 30px;
  }
}

//RAPPRESENT
.rappresent-row {
  display: flex;
  justify-content: space-between;

  max-width: 1060px;
  margin: 120px auto 140px;
}

.info-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  margin-right: 250px;

  .rappresent-title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
  }

  p {
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #4E4E4E;
  }
}

//OUR COMMUNITY

.community {
  position: relative;
  background: #F5F6F7;
  text-align: center;

  &-wrapper {
    display: flex;
    justify-content: space-between;

    margin-left: auto;
    margin-right: 0;
    padding: 120px 0 140px;

    max-width: 1330px;

  }

  &-info {
    flex-basis: 300px;
    align-items: center;

    &_icon {
      height: 45px;
      width: 45px;

      margin: 0 auto;
    }

    &_title {
      margin: 20px 0 10px;

      font-weight: 500;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 2.4px;
      text-transform: uppercase;
      color: #373737;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      color: #4E4E4E;
    }
  }

  &-images {
    height: 245px;
    overflow: hidden;

    & > * + * {
      margin-left: 30px;
    }
  }
}

.slide-control {
  display: flex;
  justify-content: space-between;
  width: 80px;

  position: absolute;
  top: 85px;
  right: 270px;
  color: #373737;

  p {
    padding: 0 4px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1;
  }

  img {
    padding: 0 10px 0 0;

    &:last-child {
      //padding: 0 0 0 15px;
      transform: rotate(180deg);
    }
  }

}

.implement-row {
  display: flex;
  justify-content: space-between;

  max-width: 1060px;
  margin: 120px auto 140px;

  .info-column {
    max-width: 410px;
    margin-right: 0;

    .implement-title {
      margin-bottom: 20px;

      font-weight: 700;
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #373737;
    }

    p {
      margin-bottom: 30px;

      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      color: #4E4E4E;
    }
  }
}

.sign-up {
  display: flex;
  flex-direction: column;

  padding: 200px 0 220px;

  background: url("./../img/email-block.jpg") no-repeat center center;
  background-size: cover;

  &_title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &_input {
    display: flex;
    margin: 0 auto;
    max-width: 405px;

    input {
      display: block;
      width: 340px;
      height: 46px;

      padding: 13px 24px;
      background: #FFFFFF;
      border: none;
      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
        color: #373737;
        opacity: 0.5;
      }
    }
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 65px;
      height: 46px;

      padding: 0;

      border: none;
    }
  }
}